.signup-page-layout {
  width: 100%;
  height: 100%;
  background-color: rgb(108, 149, 196);
  padding: 6rem;
  box-sizing: border-box;
  .signup-page-content {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgb(250, 243, 243);
    display: flex;
    .body-content {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      form{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      
    }
  }
}
